.block {

  h2 {
    font-size: 1.25rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }

  }
}

.archive:not(.post-type-archive-campaign) {
  .entry-content {
    font-family: $font-family-sans-serif;
  }
}

.post-type-archive {
  .section-footer {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-up(md) {
    .section-footer {
      margin-bottom: 2rem;
    }
  }
}

/* Help & Answers */
.post-type-archive-kbe_knowledgebase,
.tax-kbe_taxonomy {
  .page-title {
    color: $white;
    text-align: center;
  }
  #archive-wrapper {
    background-color: $blue-darker;
  }

  .post-grid {
    @include make-row();
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .block {
    margin-bottom: 2rem;
    width: 100%;

    /* Grid */
    @include media-breakpoint-up(md) {
      @include make-col-ready();
      @include make-col(8);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(5.33333);
    }

  }

  .block-inner {
    height: 100%;
    padding: 1.5rem;
    background-color: $white;
    box-shadow: 10px 10px 0px 0px rgba($blue-secondary,1);
  }

  .taxonomy-description {
    text-align: center;
    color: $white;
  }

  .entry-header {
    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .site-main {
      width: 75%;
      margin-right: auto;
      margin-left: auto;
    }

    .block {}
  }
}

.post-type-archive-kbe_knowledgebase {

  /* Icon */
  .entry-header {

    @include make-row();
    align-items: center;
    margin-bottom: 1rem;

    .help-answers-image {
      @include make-col-ready();
      flex: 0 0 calc( 100% / 3 );
    }

    .entry-title {
      @include make-col-ready();
      flex: 0 0 calc( 100% / 1.5 );
    }

    img {
      max-width: 100%;
      min-width: 50px;
      height: auto;
    }

    @include media-breakpoint-up(md) {

      @include make-row();
      align-items: center;
    }
  }
}

/* Programs */
.post-type-archive-program {

  .page-title {
    color: $white;
  }

  #archive-wrapper {
    background-color: $purple-darkest;
  }

  .program {
    background-color: $white;
    text-align: center;

    &:last-child {
      margin-bottom: 1.5rem;
    }
  }

  .program + .program {
    margin-top: 1rem;
  }

  .entry-image {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .entry-body {
    margin-top: 0;
    margin-bottom: 0;
  }

  .entry-content {
    padding-bottom: 4rem;
    strong {
      color: $primary;
      font-weight: bold;
    }

    .btn {
      position: absolute;
      bottom: 0;

      background-color: $primary;
    }
  }

  @include media-breakpoint-down(md) {
    .btn {
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;

      background-color: $primary;
    }
  }

  @include media-breakpoint-up(md) {
    .program {
      display: flex;
    }

    .entry-image {
      align-self: center;
    }

    .entry-title,
    .entry-content {
      text-align: initial;
    }

    .entry-body {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    .entry-image {
      padding-left: 0;
    }

    .entry-content {
      padding-bottom: 0;

      strong {
        font-size: $font-size-lg-5;
      }
    }

    .btn {
      bottom: 0;
      right: 0;
      left: auto;
      transform: none;
    }
  }

}

/* Events Archive */
.tax-event-category {
  .page-title {
    color: $white;
  }

  #archive-wrapper {
    background-color: $blue-darkest;
  }

  .event {
    margin-bottom: 1rem;
    background-color: $white;

    &:last-child {
      margin-bottom: 1.5rem;
    }
  }

  .entry-image {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .entry-header {
    padding: 2.5rem 2.5rem 0 2.5rem;
    text-align: center;
  }

  .entry-content {
    padding: 0 2.5rem 2.5rem 2.5rem;
    text-align: center;

    strong {
      color: $primary;
      font-weight: bold;
    }

    .btn {
      position: absolute;
      bottom: 0;

      background-color: $primary;
    }
  }

  @include media-breakpoint-down(md) {
    .btn {
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;

      background-color: $primary;
    }
  }

  @include media-breakpoint-up(md) {
    .event {}

    .entry-image {}

    .entry-header,
    .entry-content {
      text-align: initial;
    }

    .entry-image {
      padding-left: 0;
    }

    .entry-content {

      strong {
        font-size: $font-size-lg-5;
      }
    }

    .btn {
      bottom: 0;
      right: 0;
      left: auto;
      transform: none;
    }
  }

}

/* Campaigns */
.post-type-archive-campaign,
.tax-campaign-status {

  #archive-wrapper {
    background-color: $gray-900;
  }

  .page-title {
    color: $white;
  }
  
  .campaign {
    @extend %campaign-module;
  }

  .section-footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: $font-size-lg;

    a {
      color: $white;
      text-decoration: underline;
    }
  }

}

.post-type-archive-staff,
.tax-staff-category,
.page-template-page-staff {

  .page-header {
    margin-bottom: 2rem;
  }

  .staff-section + .staff-section {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 1px solid $border-color;
  }

  .staff + .staff {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $border-color;
  }

  .section-title {
    margin-bottom: 2rem;
  }

  .entry-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .person-title,
  .person-email {
    margin-bottom: 0;
  }

  .person-title {
    font-weight: bold;
  }

  .person-email {}

  .person-phone {}

  @include media-breakpoint-up(md) {

    .staff {
      &.has-post-thumbnail {
        @include make-row;
      }
    }

    .person-bio {
      max-width: 90%;
    }

    .has-post-thumbnail {
      .entry-header,
      .entry-footer,
      .entry-image,
      .entry-content {
        @include make-col-ready;
      }
  
      .entry-header,
      .entry-footer {
        @include make-col($grid-columns);
      }
  
      .entry-image {
        @include make-col($grid-columns * .3125);
      }
  
      .entry-content {
        @include make-col($grid-columns * .6875);
        padding-left: 2rem;
      }
    }

    .staff + .staff {
      margin-top: 2rem;
      padding-top: 2rem;
    }
  }
}
