#wrapper-footer-full {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $white;

    @include media-breakpoint-up(md) {
     padding-top: 4rem;
   }
}

#wrapper-footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: $gray-900;
  color: $white;
  a {
    color: $white;
  }

}

.footer-logo {
  padding: 1rem;
  width: 100%;
  text-align: center;

  img {
    max-width: 100%;
    height: 80px;
    width: auto;
  }

  @include media-breakpoint-up(md) {
    text-align: initial;

    img {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      position: relative; 
      left: -1rem;
    }
  }
}
