/* Knowledgebase Search */
.kbe_search_field {
  margin-bottom: 3rem;

  input {
    width: 75%;
    display: block;
    padding: .75rem .5rem;
    margin-right: auto;
    margin-left: auto;

    background-color: transparent;
    border-radius: $input-border-radius;
    border: 1px solid $blue-secondary;

    color: $blue-secondary;

    &:focus {
      border-color: $white;
    }
  }
}

#jquery-live-search {
  #search-result {
    @include no-bullets;
    padding: .75rem;

    background-color: $white;
    box-shadow: 10px 10px 0px 0px rgba($primary,1);
  }
}

/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 2rem;
  
  a {
    color: $text-muted;
    text-transform: uppercase;
    font-size: 0.75rem;

    border-bottom: 1px solid $text-muted;

    &:hover {
      text-decoration: none;
    }
  }

  .current-item {
    @include sr-only;
  }

  .breadcrumb-item +.breadcrumb-item:last-child:before {
    @include sr-only;
  }
}

/* Forms */
.caldera-grid {
  button, 
  input, 
  select, 
  textarea {
    font-family: $font-family-base;
  }

  .row {
    &.single {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding-right: 0 !important;
        padding-left: 0 !important;
      
      .single {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

/* TOC */
.ez-toc-list,
.action-links {
  --size: 2.5rem;
  counter-reset: counter-reset;
  list-style: none;
  padding-left: calc( var(--size) + .75rem );
  font-size: $font-size-lg;

  a {
    color: $blue-darkest;
    text-decoration: underline;
  }

  &> li {
    margin: 0 0 0.5rem 0;
    counter-increment: counter-reset;
    position: relative;


    &:before {
      position: absolute;
      width: var(--size);
      height: var(--size) !important;
      line-height: var(--size) !important;
      top: 0;
      left: calc(-1 * var(--size) - 10px);
      content: counter(counter-reset);
      background: $blue-darkest;
      color: $white;
      font-size: $font-size-lg-4;
      font-weight: bold;
      font-family: $headings-font-family;

      border-radius: 50%;
      text-align: center;
    }

    & + li {
      margin-top: 2.125rem;
    }
  }

  ul {
    @include no-bullets;
    margin-top: 1rem;
    font-size: $font-size-sm;

    li + li {
      margin-top: .75rem;
    }
  }
}

.event-time {
  .separator {
    &:before {
      content: ' - ';
    }
  }
}

/* Clipboard */
.wp-block-corefunctionality-clipboard {
  .clipboard-link {
    text-transform: none;
    font-weight: $font-weight-normal;
    background-color: $white;
    letter-spacing: initial;
    
    span {
      text-decoration: underline;
      font-size: $font-size-sm;
    }

    &:before {
      content: '\f1a7';
      font-family: $icon-font-family;
      text-decoration: none;
      font-size: $font-size-lg;
    } 
  }

  .block-content {

    &.copied > * {
      background-color: transparentize( $yellow, 1 );
      animation: fadeOut 5s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes fadeOut {
      0% { 
        background-color: transparentize( $yellow, 1 );
      }
      10% { 
        background-color: transparentize( $yellow, .5 );
      }
      100% { 
        background-color: transparentize( $yellow, 1 );
      }
  }

  @include media-breakpoint-up(md) {
    .clipboard-link {
      float: right;
      @include clearfix-after;
    }

    .block-content {
      @include clearfix;
    }
  }

}


