/* Knowledgebase Search */
.kbe_search_field {
  margin-bottom: 3rem;

  input {
    width: 75%;
    display: block;
    padding: .75rem .5rem;
    margin-right: auto;
    margin-left: auto;

    background-color: transparent;
    border-radius: $input-border-radius;
    border: 1px solid $blue-secondary;

    color: $blue-secondary;

    &:focus {
      border-color: $white;
    }
  }
}

#jquery-live-search {
  #search-result {
    @include no-bullets;
    padding: .75rem;

    background-color: $white;
    box-shadow: 10px 10px 0px 0px rgba($primary,1);
  }
}

/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 2rem;
  
  a {
    color: $text-muted;
    text-transform: uppercase;
    font-size: 0.75rem;

    border-bottom: 1px solid $text-muted;

    &:hover {
      text-decoration: none;
    }
  }

  .current-item {
    @include sr-only;
  }

  .breadcrumb-item +.breadcrumb-item:last-child:before {
    @include sr-only;
  }
}

/* Forms */
.caldera-grid {
  button, 
  input, 
  select, 
  textarea {
    font-family: $font-family-base;
  }
}

/* TOC */
.ez-toc-list,
.action-links {
  --size: 2.5rem;
  counter-reset: counter-reset;
  list-style: none;
  padding-left: calc( var(--size) + .75rem );
  font-size: $font-size-lg;

  a {
    color: $blue-darkest;
    text-decoration: underline;
  }

  &> li {
    margin: 0 0 0.5rem 0;
    counter-increment: counter-reset;
    position: relative;


    &:before {
      position: absolute;
      width: var(--size);
      height: var(--size) !important;
      line-height: var(--size) !important;
      top: 0;
      left: calc(-1 * var(--size) - 10px);
      content: counter(counter-reset);
      background: $blue-darkest;
      color: $white;
      font-size: $font-size-lg-4;
      font-weight: bold;
      font-family: $headings-font-family;

      border-radius: 50%;
      text-align: center;
    }

    & + li {
      margin-top: 2.125rem;
    }
  }

  ul {
    @include no-bullets;
    margin-top: 1rem;
    font-size: $font-size-sm;

    li + li {
      margin-top: .75rem;
    }
  }
}

.event-time {
  .separator {
    &:before {
      content: ' - ';
    }
  }
}