#wrapper-footer-full {
  margin-top: 3rem;
  align-items: center;
  background-color: $gray-100;

  .widget {
    width: 100%;
  }

  .footer-widget {
    @include make-col-ready;
    @include make-col(16);

    color: $blue-darker;

    img {
      max-width: 100%;
      width: 185px;
      height: auto;
    }
  }

  .wp-block-column:nth-child(odd) {
    margin-right: 0;
  }

  .section-title,
  .widget-title {
    color: $purple-darker;
    text-align: center;
    font-weight: $font-weight-normal;
    font-family: $font-family-narrow;
    text-transform: uppercase;
    font-size: $font-size-base;
    letter-spacing: 1px;

    @include media-breakpoint-up(md) {
      font-size: $font-size-lg;
    }
  }

  .tenant-module {

    .widget-title {
      @include sr-only;
    }

    .wp-block-column:first-child {
      @include make-col($grid-columns/2);

      font-size: $font-size-sm;
      text-align: center;
    }

    .wp-block-column {
      text-align: center;
      @include make-col($grid-columns/2);

      &:last-child {
        font-size: $font-size-lg-6;
        font-weight: bold;

        @include make-col($grid-columns);
    
        a {
          color: $blue-darker;
          text-decoration: none;
          border-bottom: 2px solid $danger;
          
        }
      
        &:before {
          display: block;
          margin-top: .8rem;
          padding-top: .8rem;
          content: ' ';
          border-top: 1px solid $blue-darker;
        }
      }

    }

    ul {
      @include no-bullets;
    }
  
    li + li {
      margin-top: 1rem;
    }

    @include media-breakpoint-up(sm) {

      .wp-block-column:first-child {
        @include make-col(9);
      }
  
      .wp-block-column {
        @include make-col(7);
      }
  
      .wp-block-column:last-child {}

    }

    @include media-breakpoint-up(md) {
      .footer-widget {
        text-align: center;
  
        h2,
        h3 {
          font-size: $font-size-lg-3;
        }
      }
  
      .wp-block-column:first-child {
         @include make-col(4);
      }
      .wp-block-column {
        @include make-col(4);
      }
      .wp-block-column:last-child {
        @include make-col(8);
        text-align: left;

        &:before {
          content: none;
        }
      }
    }
  }

  .our-programs-module {}

  .support-us-module {
    text-align: center;

    .widget-title {
      @include sr-only;
    }

    a {
      color: $blue-darker;
      text-decoration: underline;
      font-weight: bold;
    }
  }

   @include media-breakpoint-up(md) {

     margin-top: 5rem;
     padding-bottom: 3.25rem;
     
    .our-programs-module {
      h3 {
        text-align: center;
      }
    }

    .support-us-module {}

   }

}

/* Don't apply top margin to pages that have dark background above */
.home #wrapper-footer-full,
.archive #wrapper-footer-full {
  margin-top: 0;
}

.footer-widgets-1 {
  @include make-row;

  .widget {
    @include make-col-ready();

    ul {
      @include no-bullets;
    }
  }

  .widget-first {
    @include media-breakpoint-up(md) {
        @include make-col(4);
    }
  }

  .widget-last {
    @include media-breakpoint-up(md) {
        @include make-col(12);
    }
    .menu {
      @include make-row;

      & > li {
        @include make-col-ready();

        @include media-breakpoint-up(md) {
            flex-basis: calc( 100% / 5 );
        }

      }
    }

  }

  .widget_search {
    .form-control,
    .submit {
      background-color: transparent;
      border: 1px solid $blue-secondary;
    }

    .form-control,
    .submit,
    ::placeholder {
      color: $blue-secondary;
    }
    .submit {}
  }

}

/* Show Spanish Disclaimer When on Spanish Language Page */
.language-espanol {

  #legal-disclaimer {
    .english-text {
      display: none;
    }

    .spanish-text {
      display: flex;
    }
  }
}

.entry-related-content {

  .widget-title {
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    font-size: $font-size-base;
    color: $text-muted;
  }

  .event-list {
    @include no-bullets;
    font-family: $font-family-sans-serif;

    h2,
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: $font-size-lg-5;

      a {
        font-weight: $font-weight-normal;
        color: $body-color;
      }
    }

    .event-date,
    .event-time {
      font-size: $font-size-base;
      font-family: $font-family-sans-serif;
    }

    .event-time {
      font-family: $font-family-sans-serif;

      .separator {
        margin-right: .25rem;
        margin-left: .25rem;
        &:before {
          content: '-';
        }
      }
    }

    .event-location {
      color: $text-muted;
      font-size: $font-size-base;
      font-family: $font-family-sans-serif;

      .location-name,
      .location-address,
      .event-date,
      .event-time {
        display: inline;
      }
      .separator {
        margin-right: .25rem;
        margin-left: -.25rem;
        &:before {
          content: ',';
        }
      }
    }

    .event + .event {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid $gray-500;
    }

  }

  .widget-footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $gray-500;
    font-size: $font-size-lg;
  }

}
